body {
    background: pink;
  } 

  h1 {
      color: red;
  }

  h2 p {
      color: blue;
  }
h3 {
    color: brown;

}
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }

  .topnav {
    text-align: center;
  }

  ul, ol {
    display: inline-block;
    *display: inline;
    zoom: 1
  }